.card {
  margin-bottom: 30px;
}
.card-footer {
  padding: 0px;
}

.card {
  height: 95%;
  max-width: 250px;
}

.card-body {
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.card-body::-webkit-scrollbar {
  display: none;
}
