<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    placeholder="Search..."
    class="form-control"
  />
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th
        SortableTable
        scope="col"
        name="title"
        (sort)="productTableService.onSort($event)"
      >
        Title
      </th>
      <th
        SortableTable
        sortable="price"
        name="price"
        (sort)="productTableService.onSort($event)"
      >
        Price
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let p of productTableService.tableProducts$ | async;
        count as length
      "
    >
      <td>{{ p.title }}</td>
      <td>{{ p.price | currency: "USD":"symbol" }}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.id]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="productTableService.tableSize"
    [(page)]="productTableService.tablePage"
    [pageSize]="productTableService.tablePageSize"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto;"
    [(ngModel)]="productTableService.tablePageSize"
  >
    <option [ngValue]="1">1 items per page</option>
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
    <option [ngValue]="20">20 items per page</option>
  </select>
</div>
