.sticky-top {
  top: 80px;
}

@media (max-width: 550px) {
  a {
    font-size: 0.75rem;
  }
}
@media (max-width: 485px) {
  .sticky-top {
    top: 80px;
    margin-right: -15px;
  }
  a {
    font-size: 0.75rem;
    padding-left: 5px;
    transition: ease;
  }
}
