<h1>Orders</h1>

<div>
  <input
    #idQuery
    type="text"
    placeholder="Search By ID"
    class="form-control"
    (keyup)="filter()"
  />

  <input
    #customerQuery
    type="text"
    placeholder="Search By Customer"
    class="form-control"
    (keyup)="filter()"
  />
</div>
<table class="table" *ngIf="tableService.pageData$">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of tableService.pageData$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date: "short" }}</td>
      <td>
        {{ order.id }}
      </td>
      <td>
        <a routerLink="/orders/{{ order.id }}">View</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="tableService.tableSize"
    [(page)]="tableService.tablePage"
    [pageSize]="tableService.tablePageSize"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto;"
    [(ngModel)]="tableService.tablePageSize"
  >
    <option [ngValue]="1">1 items per page</option>
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
    <option [ngValue]="20">20 items per page</option>
  </select>
</div>
