<h1>Orders</h1>

<div>
  <input
    #idQuery
    type="text"
    placeholder="Search By ID"
    class="form-control"
    (keyup)="filter()"
  />

  <input
    #customerQuery
    type="text"
    placeholder="Search By Customer"
    class="form-control"
    (keyup)="filter()"
  />
</div>
<table class="table" *ngIf="orders">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of filteredOrders">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date: "short" }}</td>
      <td>
        {{ order.id }}
      </td>
      <td>
        <a routerLink="/orders/{{ order.id }}">View</a>
      </td>
    </tr>
  </tbody>
</table>
