<h1>Shopping Cart</h1>

<div class="row col-lg-10 col-md mx-auto" *ngIf="cart$ | async as cart">
  <p *ngIf="cart.totalItemsCount">
    You have {{ cart.totalItemsCount }} items in your shopping cart.
    <button (click)="clearCart()" class="btn btn-light btn-sm">
      Clear Shopping Cart
    </button>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div
            [style.backgroundImage]="'url(' + item.product.imageUrl + ')'"
            class="thumbnail"
          ></div>
        </td>
        <td>{{ item.product.title }}</td>
        <td>
          <app-product-quantity
            [product]="item.product"
            [shoppingCart]="cart"
          ></app-product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency: "USD":"symbol" }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">
          {{ cart.totalPrice | currency: "USD":"symbol" }}
        </th>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/checkout" *ngIf="cart.items.length" class="btn btn-primary"
    >Check Out</a
  >
</div>
