<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        [class.active]="!currentCategory"
        routerLink="/"
      >
        All Categories
      </a>
      <a
        *ngFor="let category of categories$ | async"
        class="list-group-item list-group-item-action"
        [class.active]="currentCategory === category.id"
        routerLink="/"
        [queryParams]="{ category: category.id }"
      >
        {{ category.name }}
      </a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts; let i = index">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img
              [src]="product.imageUrl"
              class="card-img-top"
              alt="productImage"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                {{ product.price | currency: "USD":"symbol" }}
              </p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
